/* Styling universal selector */
* {
	/* margin-top: 50px; */
	margin: 0;
	margin-top: 10px;

	padding: 0;
	box-sizing: border-box;
}

/* Style body element */
body {
	min-height: 50vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: hsl(0, 0%, 100%);
	font-family: "Poppins", sans-serif;
}

input {
	margin-right: 1%;
}

#title {
	width: 20%;
	font-size: larger;
}

#description {
	font-size: large;
	width: 60%;
}

button {
	border-radius: 5px;
	padding: 5px;
	font-size: large;
	color: #dbeefa;
	background-color: rgb(109, 157, 87);
}

/* style for accordion items */
.accordion-item {
	border-bottom: 1px solid #ddd;
	font-size: larger;
}

.container {
    display: flex;
}

.sidebar{
    flex: 0 0 20%;
    background-color: #000000;
}

.content {
    flex: 1;
    background-color: #e2e6be;
    padding: 10px;
}
