/* Styling card container */
.card {
	/* min-height: 50vh; */
	height: fit-content;
	min-width: 33rem;
	max-width: 40rem;
	background: rgba(147, 208, 119, 1);
	margin: 0 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.head {
	position: relative;
	max-height: fit-content;
	min-width: 33rem;
	width: 100%;
	background: rgb(109, 157, 87);

	padding: 1rem;
}

.h1 {
    color: rgb(139, 255, 211);
    font-size: 4em;
    font-family: "Comic Sans MS", Lucida Handwriting, cursive;
    margin: 0;
}

/* App.css*/

.App {
	text-align: center;
}

/* style accordion */
.notes {
	margin: 5%;
	text-align: left;
}
